.card {
    transition: all 0.3s;
}

#projectCards.card:hover {
    transform: scale(1.15);
    cursor: pointer;
}

#cardContainer {
    width: min(100% - 2rem, 2000px);
}

.card-img-top {
    max-width: 100%;
    height: 16rem;
    background-image: url("/pictures/JlcxSi6.png");
}