<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Overview</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="card" style="width: 22rem;">
                <img src="../static/pictures/Rammus.png" th:src="@{pictures/Rammus.png}" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title" th:text="${Project0}" />
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" ></li>
                        <li class="list-group-item" th:text="${Creation0}"/>
                        <li class="list-group-item" th:text="${Deadline0}" />
                    </ul>
                </div>

            </div>
        </div>
    </div>
</body>
</html>