<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <th:block th:replace="meta :: meta"></th:block>
    <title>Project</title>
</head>
<body>
    <div th:insert="header :: header"></div>
    <!--<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <button type="button" class="btn btn-dark">Button</button>
        <button type="button" class="btn btn-dark">Button</button>
        <button type="button" class="btn btn-dark">Button</button>
        <button type="button" class="btn btn-dark">Button</button>
        <button type="button" class="btn btn-dark">Button</button>
        <button type="button" class="btn btn-dark">Button</button>
    </div>--->
    <div class="px-5" id="view">
        <h1 class="display-1 mb-5">Supplier overview</h1>
        <table class="table align-middle">
            <thead>
                <tr>
                    <th class="bi bi-box-seam-fill" scope="col"> Supply</th>
                    <th class="bi bi-buildings-fill" scope="col"> Supplier</th>
                    <th class="bi bi-person-vcard-fill" scope="col"> Contact person</th>
                    <th class="text-center bi bi-list-check" scope="col"> Status</th>
                </tr>
                </tr>
            </thead>
            <tbody>
                <tr th:each="supplier : ${supplierList}" >
                    <th scope="row" th:text="${supplier.supply}" />
                    <td th:text="${supplier.supplierName}" />
                    <td>
                        <a href="#" th:text="${supplier.contactPerson}" data-toggle="tooltip" data-placement="top" title data-original-title="${supplier.contactMail}" />
                    </td>
                    <td style="width: 50%; padding-top: 3rem">
                        <div style="width: 100%">
                            <div class="progress bg-danger" style="height: 10px;">
                                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" th:style="|width:${supplier.state.percentage}%|"></div>
                            </div>
                            <div class="row justify-content-between">
                                <button type="button" th:class="|btn btn-sm rounded-pill translate-middle-y ${supplier.state.rfi ? 'btn-success bi bi-check' : 'btn-danger bi bi-x'}|" style="width: 4rem; height:4rem; font-size: x-small">RFI</button>
                                <button type="button" th:class="|btn btn-sm rounded-pill translate-middle-y ${supplier.state.tender ? 'btn-success bi bi-check' : 'btn-danger bi bi-x'}|" data-toggle="modal" th:attr="data-target='#tenderModal'+${supplier.id}" style="width: 4rem; height:4rem; font-size: x-small">Tender</button>
                                <button type="button" th:class="|btn btn-sm rounded-pill translate-middle-y ${supplier.state.qa ? 'btn-success bi bi-check' : 'btn-danger bi bi-x'}|" data-toggle="modal" th:attr="data-target='#qaModal'+${supplier.id}" style="width: 4rem; height:4rem; font-size: x-small">Q&A</button>
                                <button type="button" th:class="|btn btn-sm rounded-pill translate-middle-y ${supplier.state.reminder ? 'btn-success bi bi-check' : 'btn-danger bi bi-x'}|" data-toggle="modal" th:attr="data-target='#reminderModal'+${supplier.id}" style="width: 4rem; height:4rem; font-size: x-small">Reminder</button>
                                <button type="button" th:class="|btn btn-sm rounded-pill translate-middle-y ${supplier.state.quotation ? 'btn-success bi bi-check' : 'btn-danger bi bi-x'}|" data-toggle="modal" th:attr="data-target='#quotationModal'+${supplier.id}" style="width: 4rem; height:4rem; font-size: x-small">Quotation</button>
                                <button type="button" th:class="|btn btn-sm rounded-pill translate-middle-y ${supplier.state.contract ? 'btn-success bi bi-check' : 'btn-danger bi bi-x'}|" style="width: 4rem; height:4rem; font-size: x-small">Contract</button>
                            </div>
                            <!-- Modal Tender -->
                            <div class="modal fade" th:attr="id='tenderModal'+${supplier.id}" tabindex="-1" role="dialog" aria-labelledby="tenderModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="tenderModalLabel">Tender</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <textarea class="form-control" th:text="|Dear ${supplier.contactPerson}, &NewLine;&NewLine;Hereby the tender package for the ${supplier.supply} project as informed. &NewLine;&NewLine;Please go through the documents, and prepare for individual Q&A session on {Q&A date} &NewLine;&NewLine;Feel free to forward questions prior to above meeting. &NewLine;&NewLine;Technical: Hans Hansen – xxx@graintec.com &NewLine;Technical: Jens Jensen – xxx@graintec.com &NewLine;Commercial: {sourcing manager} – xxx@graintec.com &NewLine;&NewLine;The Deadline for the quotation is {quotation date} &NewLine;&NewLine;Kind regards, &NewLine;{sourcing manager}|" rows="20"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Send Mail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Q&A -->
                            <div class="modal fade" th:each="supplier : ${supplierList}" th:attr="id='qaModal'+${supplier.id}" tabindex="-1" role="dialog" aria-labelledby="qaModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="qaModalLabel">Q&A</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <textarea class="form-control" th:text="|Dear ${supplier.contactPerson}, &NewLine;&NewLine;Hereby an invite for a Q&A session in regards to the forwarded tender material. &NewLine;&NewLine;Kind regards, &NewLine;&NewLine;{sourcing manager}|" rows="20"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Send Mail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Reminder -->
<!--                            <div class="modal fade" th:each="supplier : ${supplierList}" th:attr="id='reminderModal'+${supplier.id}" tabindex="-1" role="dialog" aria-labelledby="reminderModalLabel" aria-hidden="true">-->
                            <div class="modal fade" th:each="reminder : ${reminderEmail}" th:attr="id='reminderModal'+${supplier.id}" tabindex="-1" role="dialog" aria-labelledby="reminderModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="reminderModalLabel">Reminder</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                        <!--reminder-->
<!--                                            <th:formaction th:each="reminder : ${reminderEmail}" >-->
<!--                                                <textarea class="form-control" th:text="${supplier.supplierName}" rows="20"></textarea>-->
<!--                                                <textarea class="form-control" th:text="${reminder}" rows="20"></textarea>-->
<!--                                            </th:formaction>-->
                                            <textarea class="form-control" th:text="|Dear ${supplier.contactPerson}, &NewLine;&NewLine;A kind reminder that today is the deadline for the ${supplier.supply} package. &NewLine;&NewLine;Kind regards, &NewLine;{sourcing manager}|" rows="20"></textarea>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Send Mail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Quotation -->
                            <div class="modal fade" th:attr="id='quotationModal'+${supplier.id}" tabindex="-1" role="dialog" aria-labelledby="quotationModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="quotationModalLabel">Quotation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Send Mail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:insert="footer :: footer"></div>
</body>
</html>