<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <th:block th:replace="fragments :: meta"></th:block>
    <title>Project Overview</title>
</head>
<body>
    <div th:insert="fragments :: header"></div>
        <div class="px-5" id="view">
        <h1 class="display-1 mb-5">Project overview</h1>
        <div class="d-flex justify-content-center">
            <a class="btn btn-outline-primary bi bi-archive-fill" href="ProjectOverview/Archived" role="button"> Archived</a>
        </div>
        <div class="container-fluid" id="cardContainer">
            <div class="row justify-content-center mb-5">
                <div class="shadow-lg p-0 card m-4" style="height: 26rem; width: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <button type="button" class="btn btn-lg btn-primary rounded-pill position-absolute top-50 start-50 translate-middle bi bi-plus-lg h1" data-bs-toggle="modal" data-bs-target="#exampleModal"> New project</button>
                        <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <form action="#" th:action="@{/ProjectOverview}" th:object="${Project}" method="post">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Create a new project</h5>
                                            <button type="button" class="btn btn-lg close bi bi-x-circle-fill" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-row">
                                                <div class="col-md-4 mb-3">
                                                    <label for="projectNameLabel">Project ID & name</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend" >
                                                            <span class="input-group-text" id="id-text" th:text="${NextID}" />
                                                            <input type="hidden" field="*{id}" name="id" th:value="${NextID}">
                                                        </div>
                                                        <input type="text" class="form-control" aria-describedby="id-text" id="projectNameLabel" placeholder="Salmon Basins Norway" field="*{projectName}" name="projectName" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="deadlineLabel">Deadline</label>
                                                    <input type="date" class="form-control" id="deadlineLabel" field="*{deadlineDate}" name="deadlineDate" required>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="qaDateLabel">Q&A date</label>
                                                    <input type="date" class="form-control" id="qaDateLabel" field="*{qaDate}" name="qaDate" required>
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="quotationDateLabel">Quotation date</label>
                                                    <input type="date" class="form-control" id="quotationDateLabel" field="*{quotationDate}" name="quotationDate" required>
                                                </div>
                                                <div class="col-auto mb-3">
                                                    <label for="imageLabel">Image URL (Optional)</label>
                                                    <input type="url" class="form-control" id="imageLabel" placeholder="https://i.imgur.com/JlcxSi6.png" field="*{image}" name="image">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button id="createbutton" type="submit" value="Submit" class="btn btn-primary">Create project</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shadow-lg p-0 card m-4" id="projectCards" style="height: 26rem; width: 22rem;" th:each="project : ${Projects}" >
                    <img th:src="${project.image}" class="card-img-top"/>
                    <div class="card-body" >
                        <a th:href="@{/Project/{id}(id = ${project.id})}" style="text-decoration: none; color:black;" class="stretched-link">
                                <h5 class="card-title" th:text="${project.id} + ' - ' + ${project.projectName}" />
                        </a>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" ></li>
                            <li class="list-group-item bi bi-calendar-plus-fill" th:utext="'&lt;strong&gt; Created: &lt;/strong&gt;' + ${project.creationDate}"/>
                            <li class="list-group-item bi bi-calendar-check-fill" th:utext="'&lt;strong&gt; Deadline: &lt;/strong&gt;' + ${project.deadlineDate}"/>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="fragments :: footer"></div>
</body>
</html>