<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <th:block th:replace="fragments :: meta"></th:block>
    <title>Scoring</title>
</head>
<body>
<div th:insert="fragments :: headerProject"></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Supplier</th>
            <th scope="col">Guarantee(year(s))</th>
            <th scope="col">CSR</th>
            <th scope="col">Legal T&C's</th>
            <th scope="col">Site erection</th>
            <th scope="col">Price</th>
            <th scope="col">Board & Lodging</th>
            <th scope="col">Travel Costs</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="supplier : ${supplyList}">
       <th scope="row" th:text="${supplier.supplierName}">Supplier</th>
       <td>Guarantee(year(s))</td>
       <td>CSR(boolean checkmark to be made)</td>
       <td>Legal T&C's</td>
       <td>Site erection</td>
       <td>Price</td>
       <td>Board & Lodging(boolean checkmark to be made)</td>
       <td>Travel Costs (boolean checkmark to be made)</td>
       <td>Score</td>
    </tr>
    </tbody>
</table>
<div th:insert="fragments :: footer"></div>
</body>
</html>